- name: register mycnf
  stat:
    path: /etc/my.cnf
  register: mycnf

- name: create backup directory
  become: yes
  file:
    path: /backup
    state: directory

- name: backup mysql file
  become: yes
  copy:
    remote_src: yes
    src: /etc/my.cnf
    dest: /backup/my.cnf
  when: mycnf.stat.exists

- name: copy mysql setting
  become: yes
  copy:
    src: files/my.cnf
    dest: /etc/my.cnf

- name: copy mysql setting
  become: yes
  copy:
    src: files/my.cnf
    dest: /etc/my.cnf

- name: restart mysql
  become: yes
  command: systemctl restart mysql
